{% import "macro/utils.html.twig" as utils %}
{% extends 'base.html.twig' %}
{% block content %}
    <h1>AuthLog</h2>
    <h3>Зарегистрировалось в этом месяце</h3> 
    <table>
        <tr>
            <td>Город</td>
            <td>Пользователей</td>
        </tr>
        {% for p in registerPerMonth %}
            <tr>
                <td>{{ p.city|e }}</td>
                <td>{{ utils.declension(p.cnt, ['пользователь','пользователя','пользователей']) }}</td>
            </tr>
        {% endfor %}
    </table>
    <h3>Уникальных посетителей в неделю</h3>
    <table>
        <tr>
        {% for a in authForWeek %}
            <td>{{ a.dateAsMonth|e }}</td>
        {% endfor %}
        </tr>
        <tr>
        {% for a in authForWeek %}
            <td>{{ utils.declension(u.total, ['посетитель','посетителя','посетителей']) }}</td>
        {% endfor %}
        </tr>
    </table>
    

    <h3>Посещало за 7 дней</h3>
    <table>
    <tr>
        <td>Имя</td>
        {% for a in authForWeek %}
            <td>{{ a.dateAsMonth|e }}</td>
        {% endfor %}
        </td>
    </tr>
    {% for key,us in usersForWeek %}
        <tr>
            <td>{{ key }}</td>
            {% for u in us %}
                {% if u is null %}
                    <td>Нет посещений</td>
                {% else %}
                    <td>{{ utils.declension(u.total, ['посещение','посещения','посещений']) }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </table>


    <h3>Дни рождения 7 дня</h3>
    <table>
        <tr>
            <td>Имя</td>
            <td>День рождения</td>
        </tr>
        {% for bs in birthdaysForSevenDay %}
            <tr>
                <td>{{ bs.firstName|e }} {{ bs.secondName|e }}</td>
                <td>{{ bs.birthday|date("d-m-Y") }}</td>
            </tr>
        {% endfor %}
    </table>
    <h3>Дни рождения 3 дней</h3>
    <table>
        <tr>
            <td>Имя</td>
            <td>День рождения</td>
        </tr>
        {% for bt in birthdaysForThreeDay %}
            <tr>
                <td>{{ bt.firstName|e }} {{ bt.secondName|e }}</td>
                <td>{{ bt.birthday|date("d-m-Y") }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %} 